<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: orangered; width:100%;height:30vh;">
   <h5 style="text-align: justify;color:whitesmoke;text-align:inherit">SMART BRIDGE</h5>
   <h1 style="text-align: center;color:whitesmoke;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 40PX;">BANKRUPTCY DETECTION ANALYSIS </div>
   <div style="width: 50%;height:50vh;">
   <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">About the project</h2>
    <p style="font-size: medium;">The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS), which is a database containing information on emerging markets around the world. The bankrupt companies were analysed in the period 2000-2012, while the still operating companies were evaluated for year 2007.
    </p>
    <body>
 <a href="/data">Click here</a>
</div>
</body>
</html>