<head>
    <header>
    <h2> ENTER YOUR VALUES</h2>
    </header>
    <body>
        <form action="/predict" method="post">
        <input type="text"  name="Attr1"required><br><br>
        <input type="text"  name="Attr2"required><br><br>
        <input type="text"  name="Attr3"required><br><br>
        <input type="text"  name="Attr4"required><br><br>
        <input type="text"  name="Attr5"required><br><br>
        <input type="text"  name="Attr6"required><br><br>
        <input type="text"  name="Attr7"required><br><br>
        <input type="text"  name="Attr8"required><br><br>
        <input type="text"  name="Attr9"required><br><br>
        <input type="text"  name="Attr10"required><br><br>
        <input type="submit" style="background-color: green;"></input>
    </form>
    </body>